html {
  font-family: 'Ubuntu', sans-serif;
  
}

header {
  text-align: center;
  padding: 0.1%;
  border-top: 3px;
}

header::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 50%;  
  opacity: .5; 
  z-index: -1;
  background: url(../images/suzzallo.jpg);
  background-size: cover;
  background-position: bottom; 
}


.sound {
  font-size: 5rem;
  color: #2C2F64;
  text-shadow: 3px 2px 0px #E9D3A2;
  border-top: 3px solid #2C2F64;
  border-bottom: 3px solid #2C2F64;
  padding-top: 0.1%;
  padding-bottom: 1%;
  position: relative;
  top: -24px;
  
}
.uw {
  font-family: 'Bree Serif', serif;
  font-size: 10rem;
  color: #2C2F64; 
  letter-spacing: .5rem;
  text-shadow: 4px 4px 0px #E9D3A2;
}

.map-section {
  background-color: #2C2F64;
  padding: 10% 0;
  
}

.iframe {
  text-align:center;
  width:100%;
}

.information {
  background-color: #E9D3A2;
  font-size: 1.5rem;
  padding: 7%;
  color:#2C2F64;
}
.info-container {
  background-color: white;
  border: 10px solid #2C2F64;
  padding: 5% 7%;
  
}

.underline {
  text-decoration: underline;
  
}

/*Styles inside the map text etc*/

.sub {
  font-weight: 800;
}

.info {
  font-weight: 300;
}

audio {
  width: 100%;
  padding: 4% 0;
}


